* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .title {
    filter:blur(100px);
    font-size: 200px;
    animation: titolo 7s ease;
    -webkit-animation-fill-mode: forwards;
  }
  @keyframes titolo {
    100% {
        filter:blur(1px);
        font-size: 50px;
    }
  }
  header {
    height: 100vh;
    background-image: url(HomeImage/bridge.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    animation: godown 60s infinite;
  }
  @keyframes godown {
    50% {
      background-position: -100%
    }
  }
  .wave {
    filter:blur(8px)
  }
  #shape {
    position: absolute;
    left: 0;
    bottom: -19vw;
    opacity: 1;
  }
  img:not(#shape, .image){
    position: absolute;
    left: 0;
  }
  
  header img:nth-child(1) {
    opacity: 0.4;
    bottom: -2vw;
    width: 100%;
    animation: move-1 5s infinite;
  }
  @keyframes move-1 {
    50% {
      transform: translateY(15px);
    }
  }
  header img:nth-child(2) {
    opacity: 0.4;
    bottom: 1.7vw;
    animation: move-2 4s infinite;
  }
  @keyframes move-2 {
    50% {
      transform: translateY(35px);
    }
  }
  header img:nth-child(3) {
    bottom: 1.5vw;
    opacity: 0.3;
    animation: move-3 3.5s infinite;
  }
  @keyframes move-3 {
    50% {
      transform: translateY(25px);
    }
  }
  header img:nth-child(4) {
    bottom: 1.3vw;
    opacity: 0.3;
    animation: move-4 3s infinite;
  }
  @keyframes move-4 {
    50% {
      transform: translateY(20px);
    }
  }
  header h1{
    width: 100%;
    font-family: "Poppins", sans-serif;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 8vmin;
    text-align: center;
    color: #ffffff;
  }
  section p :not(.areatesto) :not(.testo) :not(.image){
    font-family: "Poppins", sans-serif;
    padding: 30px 35px;
    margin-top: 50px;
    text-align: justify;
    line-height: 2em;
    letter-spacing: 0.5px;
    width: 100%;
  }

  .sub-title {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  section h1{
    margin: 0px;
    width: 98%;
    font-size: calc(1vh + 14px); /* Usiamo calc per fare un calcolo basato sulla viewport height */;
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'sans sarif';
    position: center;
  }

  .testo {
    margin: 0px;
    width: 82%;
    margin-left: 8%;
    margin-right: 8%;
    font-family: 'Original Surfer', cursive; 
    font-size: calc(1vh + 12px); /* Usiamo calc per fare un calcolo basato sulla viewport height */
    line-height: calc(4vh + 12px); /* Puoi regolare questo valore a tuo piacimento */
}
  
  .areatesto {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    justify-content: center, left;
  }
  
  .image {
    width: 12%;
    margin-right: 8%;
    margin-left: 4%;
  }

  .Easter-Egg {
    color: black;
    text-decoration: none;
  }

  #Vapor {
    margin-left: 0px !important;
  }

  #Stone {
    margin-left: 16% !important;
  }

  #Earth {
    margin-right: 6% !important;
  }

  .BottomImage {
    width: 100%;
    height: auto;
    margin-top: 200px;
  }

  


  